.Pragmatic_header_logo{
    margin: 2rem 0;
    font-family: 'Otomanopee One', sans-serif;
}
.Pragmatic_header_button{
    margin-bottom: 2rem
}
.Pragmatic_footer_logo{
    margin: 1.5rem 0;
    font-family: 'Otomanopee One', sans-serif;
}
.Pragmatic_footer_button{
    margin-top: 1.5rem
}

.mx-500{
    max-width: 500px;
    padding: 1rem 1.5rem;
}
.profile_image{
    height: 12rem;
    width: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}
.NNS_B{
    font-family: "NanumSquareB", cursive;
}
.round_button{
    color : black;
    text-decoration: none;
    box-shadow: 0 0 3px black;
    border-radius: 20rem;
    padding: .3rem;

}
.round_button:hover{
    color: dimgray;
}

.article_image{
    width: 60%;
    border-radius: 2rem;
    box-shadow: 0 0 1rem grey;
}
.article_content{
    text-align: left;
    font-size: 1.1rem;
}

.comment_box {
    text-align: left;
    border: solid;
    border-color: #dadada;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
}
/*css 스타일 안에서 기기의 정보를 알 수 있음*/
@media screen and (max-width: 500px) {
    html {
        /* 기본 폰트 사이즈는 16px */
        font-size: 13px;
    }
}

a{
  text-decoration: none;
    color: black;
}
/* 마우스가 겹쳐있을 때 */
a:hover {
    color: black;
}