.Pragmatic_header_logo{
    margin: 2rem 0;
    font-family: 'Otomanopee One', sans-serif;
}
.Pragmatic_header_button{
    margin-bottom: 2rem
}
.Pragmatic_footer_logo{
    margin: 1.5rem 0;
    font-family: 'Otomanopee One', sans-serif;
}
.Pragmatic_footer_button{
    margin-top: 1.5rem
}

.mx-500{
    max-width: 500px;
    padding: 1rem 1.5rem;
}